<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a
			class="navbar-item-img logoalign"
			href="index.php?controle=user&action=accueilUser"
		>
			<img class="navlogo" src="images/Logo (3).png" />
		</a>

		<a
			role="button"
			class="navbar-burger"
			aria-label="menu"
			aria-expanded="false"
			data-targer="navbarBasicExample"
		>
		<span class="nav-toggle">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</span>
			

		</a>
	</div>

	<div id="navbarBasicExample" class="navbar-menu">
		<div class="navbar-start">
			<a href="index.php?controle=user&action=accueilUser" class="navbar-item"> Accueil </a>

			<a href="index.php?controle=map&action=showMap"class="navbar-item"> Carte </a>
		</div>

		<div class="navbar-end">
			<div class="navbar-item">
				<div class="buttons">
					<a
						class="button btnInscrire"
						href="index.php?controle=user&action=deconnexion"
					>
						<strong>Se déconnecter</strong>
					</a>
				</div>
			</div>
		</div>
	</div>
</nav>